body
{
    background-size: cover;
}
.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0;

}
.note
{
    font-size: 15px;
    color: black;
}
.div_speed
{
    float: left;
}
.div_speed_img,.div_volume_img
{
    width: 200px;
    border-radius: 100px;
}
#speed,#volume
{
    font-size: 18px;
    margin: 15px;
}
.div_volume
{
    float: right;
}
.play_button
{
    width: 10%;
    font-size: 18px;
}
canvas
{
    border: 5px solid black;
    border-radius: 20px;

}
